<div>
    <section>
        <h1 class="titulo">Skills</h1>
        <div class="barra"></div>
    </section>

    <table class="Caja">
        <tbody *ngFor="let skill of Skill">
            <tr>
                <td>
                    <p class="skill">{{skill.skill}}</p>
                    <p class="area">{{skill.area}}</p>
                </td>
                <td>
                    <p class="nivel">{{skill.nivel}}</p>
                    <div class="skill-level">
                        <span [style.width]="getBarWidth(skill.nivel)"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>